.main-report {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #f3f3f1;
}
.main-report .report-header {
  position: relative;
  height: 12vh;
  background-color: #f3f3f1;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  backdrop-filter: none;
  box-shadow: none;
  border-bottom: none;
}
.main-report .report-header .header-wrapper {
  border-bottom: 1px solid #262523;
  width: 95vw;
  display: inherit;
  justify-content: space-between;
}
.main-report .report-header .header-wrapper .logo {
  height: 100%;
  width: 50%;
  padding-left: 0;
  display: flex;
  justify-content: left;
  align-items: center;
}
.main-report .report-header .header-wrapper .logo a {
  text-decoration: none;
  color: #262523;
  font-weight: 700;
  transition: color 0.3s;
  font-size: 5vb;
  letter-spacing: 0.01em;
}
.main-report .report-header .header-wrapper .logo a span {
  color: #e34234;
}
.main-report .report-header .header-wrapper .logo a:hover {
  color: #e34234;
}
.main-report .report-header .header-wrapper .header-content {
  width: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
}
@media (max-width: 1024px) {
  .main-report .report-header .header-wrapper .header-content {
    height: 80%;
    align-self: center;
  }
}
.main-report .report-header .header-wrapper .header-content h1 {
  color: #262523;
  font-weight: 500;
  font-size: 4.2vb;
  letter-spacing: -0.2vb;
  word-spacing: normal;
  padding: 0;
  margin: 0;
  padding-right: 0.5vw;
}
@media (max-width: 1024px) {
  .main-report .report-header .header-wrapper .header-content h1 {
    font-size: 3vb;
    text-align: right;
    line-height: 1.2;
  }
}
@media (max-width: 1024px) {
  .main-report .report-header .header-wrapper .header-content h1 {
    font-size: 3vb;
    text-align: right;
    line-height: 1.2;
  }
}

.generate-report {
  display: flex;
  align-items: center;
  border: none;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
}

svg {
  border-radius: 50%;
  border: none;
  transition: all 0.3s ease-in-out;
}

.generate-report:hover svg {
  stroke: #f3f3f1;
  background-color: #262523;
  transform: scale(0.9);
}

.download-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.report-main-div {
  min-height: 100vh;
  width: 95vw;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .report-main-div {
    flex-direction: column-reverse;
  }
}
.report-main-div .left-report {
  width: 29%;
  height: 125vh;
  display: flex;
  align-items: end;
  justify-content: end;
  position: relative;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .report-main-div .left-report {
    width: 100%;
    height: auto;
  }
}
.report-main-div .right-report {
  width: 68%;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 6vh;
  padding-top: 6vh;
}
@media (max-width: 1024px) {
  .report-main-div .right-report {
    width: 100%;
  }
}
.report-main-div .right-report .flood-landslide-graph {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 70vw;
  height: 118vh;
  border-radius: 4vb;
  border: 1px solid #211f20;
}
@media (max-width: 1024px) {
  .report-main-div .right-report .flood-landslide-graph {
    width: 100%;
  }
}
.report-main-div .rainfall-graph {
  height: 35%;
  width: 83%;
  border: 1px solid #211f20;
  border-radius: 4vb;
  padding: 2vb;
}
.report-main-div .arrow svg {
  border-radius: 0;
  display: flex;
  justify-content: end;
  align-items: end;
}
.report-main-div .hashtag {
  height: 36vh;
  width: 100%;
  margin: 0;
  margin-top: 5vh;
}
.report-main-div .hashtag div {
  border-bottom: 1px solid #262523;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: end;
  justify-content: end;
}
.report-main-div .hashtag div .first-hashtag {
  margin-right: 1vw;
}
.report-main-div .hashtag div h1 {
  padding: 0;
  padding-bottom: 0.5vh;
  padding-top: 1.5vh;
  margin: 0;
  color: #444342;
  font-weight: 300;
  font-size: 4.5vb;
}

.report-flood-div {
  color: #262523;
}
@media (max-width: 1024px) {
  .report-flood-div {
    margin-top: 5vh;
  }
}
.report-flood-div .see-more {
  border-top: 1px solid #262523;
  height: 11vh;
  display: flex;
  justify-content: right;
  align-items: center;
  border-bottom: 1px solid #262523;
}
@media (max-width: 1024px) {
  .report-flood-div .see-more {
    border-top: none;
    justify-content: left;
    flex-direction: row-reverse;
  }
}
.report-flood-div .see-more h1 {
  color: #262523;
  font-weight: 500;
  font-size: 4.2vb;
  letter-spacing: -0.2vb;
  word-spacing: normal;
  padding: 0;
  margin: 0;
  padding-right: 0.5vw;
}
@media (max-width: 1024px) {
  .report-flood-div .see-more h1 {
    font-size: 3vb;
    text-align: right;
    line-height: 1.2;
  }
}
@media (max-width: 1024px) {
  .report-flood-div .see-more h1 {
    width: 50%;
    text-align: left;
  }
}
.report-flood-div .see-more svg {
  margin-left: 1vw;
}
.report-flood-div .landslide-title {
  border-bottom: 1px solid #262523;
  border-top: 1px solid #262523;
  width: 95vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .report-flood-div .landslide-title {
    margin-top: 5vh;
    padding: 2vh;
  }
}
.report-flood-div .flood-title {
  border-bottom: 1px solid #262523;
  width: 95vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.report-flood-div .flood-title .flood-logo-title {
  display: flex;
  justify-content: left;
  align-items: center;
}
@media (max-width: 1024px) {
  .report-flood-div .flood-title .flood-logo-title {
    font-size: 1.5vb;
    line-height: 0.9;
  }
}
.report-flood-div .flood-title .flood-logo-title i {
  color: #262523;
}
.report-flood-div .flood-title .flood-logo-title h1 {
  padding-left: 1vw;
}
.report-flood-div .safer-desc-logo {
  display: flex;
  justify-content: right;
  align-items: center;
}
@media (max-width: 1024px) {
  .report-flood-div .safer-desc-logo {
    width: 50%;
  }
}
.report-flood-div .safer-desc-logo svg {
  margin-left: 1vw;
}
.report-flood-div .safer-desc-logo .safer-desc-para p {
  padding: 0;
  margin: 0;
  line-height: 0.8;
  font-weight: 200;
  text-align: right;
}
@media (max-width: 1024px) {
  .report-flood-div .safer-desc-logo .safer-desc-para p {
    font-size: 2vb;
  }
}

.flood-main-content {
  display: flex;
}
@media (max-width: 1024px) {
  .flood-main-content {
    display: flex;
    flex-direction: column;
  }
}
.flood-main-content .flood-left-div {
  width: 40vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .flood-main-content .flood-left-div {
    width: 100%;
    margin-bottom: 22vh;
  }
}
.flood-main-content .flood-left-div .flood-main-graph {
  height: 92%;
  width: 87%;
  background-color: #262523;
  border-radius: 6vb;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3f3f1;
}
@media (max-width: 1024px) {
  .flood-main-content .flood-left-div .flood-main-graph {
    width: 95%;
  }
}
.flood-main-content .flood-right-div {
  width: 60%;
  height: 100vh;
}
@media (max-width: 1024px) {
  .flood-main-content .flood-right-div {
    width: 100%;
  }
}
.flood-main-content .flood-right-div .upper-flood {
  height: 48vh;
  width: 100%;
}
@media (max-width: 1024px) {
  .flood-main-content .flood-right-div .upper-flood {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 4.5vw;
  }
}
.flood-main-content .flood-right-div .upper-flood h1 {
  margin: 0;
  padding: 0;
  font-size: 6vb;
  color: #262523;
  margin-top: 2vh;
  margin-bottom: 3vh;
}
.flood-main-content .flood-right-div .upper-flood .description-div {
  width: 49vw;
  height: 35vh;
  border: 1px solid #262523;
  border-radius: 6vb;
  padding-inline: 3vw;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .flood-main-content .flood-right-div .upper-flood .description-div {
    width: 85%;
    overflow: hidden;
  }
}
.flood-main-content .flood-right-div .upper-flood .description-div h1 {
  margin-top: 2vh;
  padding: 0;
  font-size: 5vb;
  color: #262523;
  margin-bottom: 0vh;
}
@media (max-width: 1024px) {
  .flood-main-content .flood-right-div .upper-flood .description-div h1 {
    font-size: 4vb;
    width: 70%;
  }
}
.flood-main-content .flood-right-div .upper-flood .description-div .flood-information {
  width: 100%;
  display: flex;
}
.flood-main-content .flood-right-div .upper-flood .description-div .flood-information p {
  width: 75%;
  text-align: justify;
}
@media (max-width: 1024px) {
  .flood-main-content .flood-right-div .upper-flood .description-div .flood-information p {
    width: 70%;
    font-size: 1.5vb;
  }
}
.flood-main-content .flood-right-div .upper-flood .description-div .flood-information img {
  height: 20vh;
  width: auto; /* Ensures the width adjusts automatically */
  margin-left: 2vw;
  object-fit: cover; /* Crops the image instead of shrinking it */
  overflow: hidden;
}
@media (max-width: 1024px) {
  .flood-main-content .flood-right-div .upper-flood .description-div .flood-information img {
    position: absolute;
    height: 30vh; /* Smaller height */
    width: 20vw; /* Ensures it covers the full width if needed */
    object-fit: cover; /* Maintains cropping */
    background-color: #0736fe;
    right: 10vw;
    margin-left: 0vw;
    top: 354vh;
  }
}
.flood-main-content .flood-right-div .lower-flood {
  height: 50%;
  width: 100%;
}
@media (max-width: 1024px) {
  .flood-main-content .flood-right-div .lower-flood {
    height: 100%;
    position: relative;
  }
}
.flood-main-content .flood-right-div .lower-flood h1 {
  margin: 0;
  padding: 0;
  font-size: 6vb;
  color: #262523;
  margin-top: 2vh;
  margin-bottom: 3vh;
}
@media (max-width: 1024px) {
  .flood-main-content .flood-right-div .lower-flood h1 {
    margin-left: 4.5vw;
  }
}
.flood-main-content .flood-right-div .lower-flood .card-div {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .flood-main-content .flood-right-div .lower-flood .card-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.flood-main-content .flood-right-div .lower-flood .card-div .card {
  height: 25vh;
  width: 17vw;
  border: 1px solid #262523;
  border-radius: 5vb;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.3s ease-in-out;
}
.flood-main-content .flood-right-div .lower-flood .card-div .card:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}
@media (max-width: 1024px) {
  .flood-main-content .flood-right-div .lower-flood .card-div .card {
    width: 90%;
    margin-top: 2vh;
  }
}
.flood-main-content .flood-right-div .lower-flood .card-div .card .icon-div {
  height: 60%;
  margin-top: 10%;
  width: 80%;
  display: flex;
  justify-content: left;
  align-items: start;
  font-size: 5vb;
}
.flood-main-content .flood-right-div .lower-flood .card-div .card .bottom-div {
  width: 85%;
  height: 16vh;
  border-top: 1px solid #b5b3b4;
  color: #b5b3b4;
  display: flex;
  justify-content: center;
}
.flood-main-content .flood-right-div .lower-flood .card-div .card .bottom-div p {
  text-align: center;
  padding: 0.5vh;
  font-size: 2vb;
  font-weight: 400;
}

.card_black {
  background-color: #211f20;
}
.card_black .icon-div {
  color: #f3f3f1;
  transition: color 0.5s ease-in-out;
}
.card_black .icon-div:hover {
  color: #4567ff;
}

.card_blue {
  background-color: #233eff;
}
.card_blue p {
  color: #f4f4f2;
}
.card_blue .icon-div {
  color: #f4f4f2;
  transition: color 0.5s ease-in-out;
}
.card_blue .icon-div:hover {
  color: goldenrod;
}

.card_white {
  background-color: #f4f4f2;
}
.card_white p {
  color: #211f20;
}
.card_white .icon-div {
  color: #211f20;
  transition: color 0.5s ease-in-out;
}
.card_white .icon-div:hover {
  color: #ff5733;
}

.landslide-main-content {
  height: 84vh;
  margin-bottom: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Ensuring equal width for inner divs */
}
@media (max-width: 1024px) {
  .landslide-main-content {
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }
}
.landslide-main-content .left-div-landslide,
.landslide-main-content .center-div-landslide,
.landslide-main-content .right-div-landslide {
  border: 1px solid #211f20;
  height: 100%;
  width: 100%; /* Let flex control the sizing */
  flex: 1; /* Makes them take equal space */
}
@media (max-width: 1024px) {
  .landslide-main-content .left-div-landslide,
  .landslide-main-content .center-div-landslide,
  .landslide-main-content .right-div-landslide {
    justify-content: center;
    align-items: center;
    background-color: #f3f3f1;
  }
}
.landslide-main-content .left-div-landslide {
  display: flex;
  flex-direction: column;
  border-left: none;
}
.landslide-main-content .left-div-landslide .header-landslide-left-div {
  width: 95%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landslide-main-content .left-div-landslide .header-landslide-left-div h1 {
  margin: 0;
  margin-left: 2vw;
  padding: 0;
  font-size: 6vb;
  color: #262523;
}
.landslide-main-content .left-div-landslide .card-div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 2vw;
  height: 42%;
}
@media (max-width: 1024px) {
  .landslide-main-content .left-div-landslide .card-div {
    width: 90%;
  }
}
.landslide-main-content .left-div-landslide .card-div .card {
  height: 30vh;
  width: 27vw;
  border: 1px solid #262523;
  border-radius: 4vb;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .landslide-main-content .left-div-landslide .card-div .card {
    width: 100%;
    margin-block: 2vh;
  }
}
.landslide-main-content .left-div-landslide .card-div .card:hover {
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.4);
}
.landslide-main-content .left-div-landslide .card-div .card .people-affected {
  width: 90%;
  height: 60%;
  display: flex;
  justify-content: left;
  align-items: start;
  flex-direction: column;
}
.landslide-main-content .left-div-landslide .card-div .card .people-affected .people-affected-title {
  font-size: 2.3vb;
  font-weight: 300;
  padding: 0;
  margin: 0;
  letter-spacing: -0.1vb;
}
.landslide-main-content .left-div-landslide .card-div .card .people-affected .people-affected-description {
  font-size: 3.5vb;
  padding: 0;
  margin: 0;
  letter-spacing: -0.1vb;
  margin-top: 1vh;
  font-weight: 400;
}
.landslide-main-content .left-div-landslide .card-div .card .capsule-div {
  height: 25%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.landslide-main-content .left-div-landslide .card-div .card .capsule-div .vertical-capsule-inside {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.landslide-main-content .left-div-landslide .card-div .card .capsule-div p {
  font-size: 2vb;
  background-color: #2f42c3;
  color: #99abff;
  border-radius: 3vb;
  padding-inline: 1vw;
  padding-top: 0.1vw;
  padding-bottom: 0.1vw;
}
.landslide-main-content .left-div-landslide .card-div .card .capsule-div i {
  margin-top: 2vh;
  font-size: 4vb;
}
.landslide-main-content .left-div-landslide .card-div .card .bottom-div {
  width: 85%;
  height: 15%;
  border-top: 1px solid #b5b3b4;
  color: #b5b3b4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landslide-main-content .left-div-landslide .card-div .card .bottom-div p {
  width: 95%;
  text-align: left;
  padding: 0;
  font-size: 2vb;
  font-weight: 400;
}

.center-div-landslide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
@media (max-width: 1024px) {
  .center-div-landslide {
    background-color: #f3f3f1;
  }
}
.center-div-landslide .center-inforamtion-landslide {
  height: 25%;
  width: 90%;
  border-bottom: 1px solid #211f20;
  padding-bottom: 5%;
}
@media (max-width: 1024px) {
  .center-div-landslide .center-inforamtion-landslide {
    padding-bottom: 15%;
  }
}
.center-div-landslide .center-inforamtion-landslide .header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .center-div-landslide .center-inforamtion-landslide .header-div {
    padding: 0;
    margin-top: 5vh;
  }
}
.center-div-landslide .center-inforamtion-landslide h1 {
  margin: 0;
  margin-top: 2vh;
  padding: 0;
  font-size: 6vb;
  color: #262523;
}
.center-div-landslide .center-inforamtion-landslide p {
  font-size: 3.5vb;
  padding: 0;
  margin: 0;
  letter-spacing: -0.1vb;
  margin-top: 1vh;
  font-weight: 400;
}
.center-div-landslide .center-graph-landslide {
  height: 65%;
  width: 90%;
  padding-top: 5%;
}
@media (max-width: 1024px) {
  .center-div-landslide .center-graph-landslide {
    margin-top: 2vh;
    margin-bottom: 5vh;
  }
}
.center-div-landslide .center-graph-landslide .header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center-div-landslide .center-graph-landslide h1 {
  margin: 0;
  margin-bottom: 5%;
  padding: 0;
  font-size: 6vb;
  color: #262523;
}
.center-div-landslide .center-graph-landslide .main-graph-landslide {
  width: 100%;
  height: 70%;
  background-color: #211f20;
  border-radius: 5vb;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  transition: box-shadow 0.3s ease-in-out;
}
.center-div-landslide .center-graph-landslide .main-graph-landslide:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}
.center-div-landslide .center-graph-landslide .main-graph-landslide div {
  margin-top: 3vh;
  width: 90%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5vb;
  background-color: whitesmoke;
}
@media (max-width: 1024px) {
  .center-div-landslide .center-graph-landslide .main-graph-landslide div {
    height: 30vh;
  }
}
.center-div-landslide .center-graph-landslide .main-graph-landslide h1 {
  padding: 5%;
  font-size: 3vb;
  color: whitesmoke;
}

.right-card-div-small {
  height: 26%;
}

.right-card {
  background-color: #211f20;
  color: #f3f3f1;
  height: 20vh !important;
  padding: 0;
  margin: 0;
}
.right-card .capsule-div {
  margin-bottom: 4vh;
}
.right-card .vertical-capsule-inside p {
  background-color: #f5f4f0 !important;
  color: #211f20 !important;
}
.right-card .people-affected .people-affected-title {
  padding-bottom: 0;
  margin-bottom: 0;
  color: #b6b6b6;
}
.right-card .people-affected-description {
  display: flex;
  align-items: center;
  margin-top: 0 !important;
}

.right-landslide-div {
  display: flex;
  align-items: center;
  overflow: hidden !important;
  width: 20vw !important;
}
@media (max-width: 1024px) {
  .right-landslide-div {
    background-color: #f3f3f1;
    height: 200vh !important;
  }
}

.header-landslide-right-div {
  align-self: flex-start;
  margin-top: 2vh;
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  .header-landslide-right-div {
    margin-top: 2vh;
    align-self: center;
  }
}

.card-div-right-small {
  border-bottom: 1px solid black !important;
  height: fit-content !important;
  padding-top: 1vh;
  width: 90%;
  padding-bottom: 1vh;
}
@media (max-width: 1024px) {
  .card-div-right-small {
    padding: 0;
    border-bottom: none !important;
    margin: 0;
    overflow: hidden;
    position: relative;
  }
}

.card-div-small-special {
  border-bottom: none !important;
}
@media (max-width: 1024px) {
  .card-div-small-special {
    background-color: #f3f3f1;
    margin-bottom: 4vh;
  }
}

@media (max-width: 1024px) {
  .report-landslide-div {
    margin-top: 50vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=disaster_report.css.map */
